<template>
    <div class="list-group">
        <notifications group="foo"/>
        <div class="accordion" id="accordionExample">
            <draggable :list="cards" :options="{animation:500}" @change="update()" :element="'div'">
            <span v-for="(card,index) in project.cards"
                  class="list-group-item  flex-column align-items-start">
                <div>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{card.name}}</h5>
                        <span>Order: {{card.order}}</span>
                    </div>
                <div>
                        <p v-if="card.deadlineEnd">Deadline: {{card.deadline | moment('D/M/Y')}}</p>
                    <span>Status: {{card.status}}</span>

                </div>
                <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapseOne'+card.id"
                        aria-expanded="true" aria-controls="collapseOne">
                    Edit
                </button>
                    <button @click="deleteCard(card)" class="btn btn-danger">Delete</button>
                </div>
                 <div :id="'collapseOne'+card.id" class="collapse" aria-labelledby="headingOne"
                      data-parent="#accordionExample">

                  <div class="card-body"><edit-card v-if="statuses.length > 0" :status="statuses"
                                                    :card="card"></edit-card></div>
                </div>
            </span>
            </draggable>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import Vue from 'vue'

    export default {
        components: {draggable},
        name: "DraggableList",
        props: ['project'],
        data: function () {
            return {
                cards: [],
                statuses: [],
                csrf: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        mounted() {
            this.loadStatuses();
            if (this.project && this.project.cards.length > 0) {
                this.cards = this.project.cards
            }
        },
        methods: {
            deleteCard(card) {
                axios.delete('/card/delete/' + card.id).then(res => {
                    this.$notify({
                        group: 'foo',
                        title: 'Success',
                        type: 'success',
                        text: res.data
                    });
                    let index = this.cards.indexOf(card)
                    var removed = this.cards.splice(index, 1);
                }).catch(error => {
                    this.$notify({
                        group: 'foo',
                        title: '500 Server Error',
                        type: 'error',
                        text: error.response.data
                    });
                });
            },
            update() {
                this.cards.map((testimonial, index) => {
                    testimonial.order = index + 1;
                })
                axios.put(`/card/updateAll`, {
                    cards: this.cards
                }).then(res => {
                    this.$notify({
                        group: 'foo',
                        title: 'Success',
                        type: 'success',
                        text: res.data
                    });
                }).catch(error => {
                    this.$notify({
                        group: 'foo',
                        title: '500 Server Error',
                        type: 'error',
                        text: error.response.data
                    });
                });
            },
            loadStatuses() {
                axios.get('/statuses/all').then(res => {
                    this.statuses = res.data || [];
                }).catch(error => {
                    this.$notify({
                        group: 'foo',
                        title: '500 Server Error',
                        type: 'error',
                        text: error.response.data
                    });
                });

            }
        }
    }
</script>

<style scoped>

</style>
