<template>
    <div>
        <form >
            <div class="form-group">
                <label for="name">Title</label>
                <input class="form-control" type="text" id="name" name="name" v-model="name">
            </div>
            <div class="form-group">
                <label for="deadline">Deadline</label>

                <input class="form-control" id="deadline" v-model="deadline" type="date">
            </div>
            <div class="form-group">
                <label for="status">Status</label>

                <select id="status" class="form-control" v-if="statuses.length > 0" name="status" v-model="newStatus">
                    <option v-for="(status,index) in statuses" :key="status.name" :value="status.name">{{status.name}}
                    </option>
                </select>
            </div>
            <button class="btn btn-warning" @click.prevent="update" type="submit">Save</button>
            <button class="btn btn-primary" type="reset">Cancel</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "EditCard",
        props: ['card', 'status'],
        data: function () {
            return {
                name: '',
                newStatus: '',
                deadline: '',
                statuses: [],
                editedCard: {},
            }
        },
        mounted() {
            this.statuses = this.status || [];
            this.editedCard = this.card;

            this.name = this.card.name;
            this.deadline = this.card.deadline;
            this.newStatus = this.card.status;

        },
        methods: {
            async update() {
                try {
                    let {data} = await axios.put(`/card/${this.card.id}/update`, {
                        name: this.name,
                        status: this.newStatus,
                        deadline: this.deadline
                    })

                    this.card.name = this.name
                    this.card.deadline = this.deadline
                    this.card.status = this.newStatus
                } catch (e) {
                    console.warn(e)
                }
            },

        }
    }
</script>

<style scoped>

</style>
